body {
  background-color: black;
  text-align: center;
  color:white;
}

.show {
  background-color:white;
  color:black;
  text-align: center;
}

.row {
  margin-top: 100px;
  min-height: 100px;
  justify-content: space-between;
}
